.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 0px solid black;
  border-radius: 5px;
  box-shadow: 5px 5px 2px #f0f0f0;
}

.header-logo {
  padding: 10px;
}

.logo-img {
  width: 80px;
  height: 80px;
}

.header-menus > ul {
  display: flex;
}

.header-menus > ul > li {
  margin: 10px;
  padding: 10px;
  list-style-type: none;
  font-size: 20px;
}

.login-button {
  font-size: 20px;
  width: 80px;
  border: 0px;
  background-color: white;
}

.body {
  border: 0px solid black;
  border-radius: 5px;
  box-shadow: 5px 5px 2px #f0f0f0;
  padding: 20px;
  height: 1000px;
}

.search-bar {
  height: 30px;
  width: 230px;
}

.btn-top-res {
  width: 150px;
  height: 7px;
  border-radius: 5px;
  margin: 10px;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
}

.res-card {
  padding: 10px;
  width: 200px;
  background: #f0f0f0;
  margin: 10px;
  border-radius: 5px;
}

.res-card:hover {
  border: 2px solid rgb(117, 116, 116);
  cursor: pointer;
}

.res-card > h3,
h4 {
  margin: 5px;
}

.res-image {
  width: 200px;
  height: 100px;
  border-radius: 5px;
}

.simmer-container {
  border: 0px solid black;
  border-radius: 5px;
  box-shadow: 5px 5px 2px #f0f0f0;
  padding: 20px;
  height: 1000px;
}

.simmer-btn {
  padding: 7px;
  width: 150px;
  height: 7px;
  background: #b8b7b7;
  border-radius: 5px;
  margin: 10px;
}

.simmer-card-container {
  display: flex;
  flex-wrap: wrap;
}

.simmer-card {
  padding: 10px;
  width: 200px;
  height: 260px;
  background: #f0f0f0;
  margin: 10px;
  border-radius: 5px;
}

.simmer-img {
  width: 200px;
  height: 100px;
  border-radius: 5px;
  background: #b8b7b7;
}

.simmer-text {
  width: 180px;
  height: 15px;
  border-radius: 5px;
  background: #b8b7b7;
  margin-top: 10px;
}

.simmer-text-small {
  width: 100px;
  height: 15px;
  border-radius: 5px;
  background: #b8b7b7;
  margin-top: 10px;
}

/* ----------- Login Page --------------- */

.login-page {
  background-color: #b8b7b7;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 5px;
  padding: 20px;
  height: 100vh;
  width: 100%;
}

.login-submit {
  background-color: darkslategrey;
  align-items: center;
  width: 30%;
  height: fit-content;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
}

.login-submit > form > input[type="text"],
.login-submit > form > input[type="Password"] {
  padding: 10px;
  font-size: 16px;
  width: 90%;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-left: none;
  border-right-style: none;
  border-top-style: none;
  background-color: #2f4f4f;
}

.login-submit > form > button {
  padding: 10px;
  font-size: 16px;
  width: 80%;
  margin: 20px;
  display: flex;
  background-color: black;
  color: white;
  border: none;
  border-radius: 10px;
  margin-left: 34px;
}

span {
  color: brown;
  font-size: 14px;
}
